<div class="about_img"> 
<h1>About</h1>

<p>東京にて活動中</p>

なぜバッハを名乗っているのか？

現代音楽の父と言われているバッハ、
以前通っていた音楽の学校で現代音楽の基礎を作り出したのはバッハということを知り、
僕自身もバッハの生み出した音楽の一部になりたいと思い、苗字をバッハ名乗ることにしたのがきっかけ。
ドレミの音階を作ったのもバッハと思っていたがいました調べたら古代ギリシャのピタゴラスでした。
かなり嘘を吹聴していました。すみません。


  <%= image_tag "about_img.JPG" , class: "next" %>
<p>バッハ槙一郎<br><br><br></p>

2012年 上京
2013年 初舞台
2015年 渋谷らくご公式レビュアー
2016年 キングオブコント出場
2017年 初ライブ オーデションを勝ち抜き味園ユニバースにて1000人の前で演奏する。
2018年 所属事務所退社、バンド活動開始。
2019年 豪州企業LIQUID SNOW TOURS入社スノーマシーンフェスティバルチームに参加。
2020年 プログラミングスクール「DIVE INTO CODE」卒業
</div>