<h1>About</h1>
<%= image_tag("about.JPG" ,width: "160px", height: "160px") %>
<p>氏名：本村　槙一郎　<br>
生年月日：1993年6月2日（27歳）<br>
在住：東京都渋谷区<br>
2012年3月　鹿児島県立武岡台高校卒業<br>
2012年4月　俳優を目指し上京、芸能事務所に雑誌のオーディションで合格し所属し同年初舞台を踏む。その後も映画、ドラマなどで精力的に活動。<br>
2015年10月　楽天生命入社(パートタイム)　翌年2月営業成績３位の売り上げで表彰される。<br>
2016年2月　渋谷らくご　公式レビュアー<br>
2016年7月　キングオブコント出場　一回戦敗退<br>
2017年　初ライブ　オーデションを勝ち抜き　味園ユニバースにて1000人の客前で演奏する。<br>
2018年　俳優として所属事務所を退社し、バンド活動を始める。<br>
2019年10~2020年3月　　LIQUID SNOW TOURS入社スノーマシーンフェスティバルチームに参加<br>
2020年7月〜2020年10月　プログラミングスクール「DIVE INTO CODE」でWebエンジニアコースを学習し卒業<br>
</p>
