
header {
  height: 80px;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 4;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow:	hidden;
  position:	relative;
  overflow:hidden;
}
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;        
  display: none;
}

.sns_icon ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 6rem;
}

#nav {
  list-style: none;
  overflow: hidden;
}
 
#nav li {
  text-align: center;
  background-color: white;
  float: right;
  padding: 0.7rem;
}
 
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}


.logo a img {
  width:13em;
  margin-top:5px;
  background-color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}


.header-right a {
  font-size: 0.8rem;
  line-height:  95px;
  padding: 0 25px;
  color: black;
  display: block;
  /* 修正点 */
  float: left;	
  transition: all 0.1s;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

	/* 付け足し */
.header-right a::after {
  position: absolute;
  bottom: 35px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.header-right a:hover::after {
  transform: scale(1, 1);
} 

// ここからフッター
